html, body{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

a, a:visited, a:hover
{
    text-decoration: none;
    color: #D3D3D3;
}

#mainCanvas
{
    position: absolute;
    z-index: 0;
}

#loadingIndicator
{
    z-index: 2000;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black url("img/unicorn.png") no-repeat center center;
}

#footer
{
    z-index: 3000;
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: transparent;
    color: #D3D3D3;
    font-family: 'Pathway Gothic One', sans-serif;
    letter-spacing: 9px;
    font-size: 20px;
    padding: 20px;
}

.toolbar
{
    font-size: 15px;
    display: inline;
    margin-left: 50px;
    margin-top: 10px;
}

.toolbar i
{
    cursor: pointer;
    margin-right: 10px;
}

.toolbar i:hover
{
    color: white;
}

.bubble-loader {
    position: absolute;
    bottom: 18px;
    left: 106px;
}

.bubble-loader div {
    -webkit-animation: bubble 1100ms forwards infinite;
    animation: bubble 1100ms forwards infinite;
    background: #FFDC9D;
    border-radius: 50%;
    box-shadow: 0 0 8px #0abab5;
    display: inline-block;
    height: 10px;
    margin: 6px;
    transform: scale(0, 0);
    width: 10px;
}
.bubble-loader div:nth-child(2), .bubble-loader div:nth-child(4) {
    -webkit-animation-delay: 125ms;
    animation-delay: 125ms;
}
.bubble-loader div:nth-child(1), .bubble-loader div:nth-child(5) {
    -webkit-animation-delay: 250ms;
    animation-delay: 250ms;
}

#videoContainer {
    position: absolute;
    right: 0;
    top: 0;
    -webkit-perspective: 420;
    perspective: 420;
    -webkit-perspective-origin-x: 200px;
    perspective-origin-x: 200px;
    -webkit-perspective-origin-y: 928px;
    perspective-origin-y: 928px;
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
}

#videoSource
{
    width: 2005px    !important;
    height: 1144px   !important;
    position: absolute;
    left: -752px;
}

#videoScreen {
    position: absolute;
    font-size: 12pt;
    background-color: #000;
    -webkit-transform: rotateY(-19deg);
    transform: rotateY(-19deg);
    right: 169px;
    top: -30px;
    overflow: hidden;
}

#videoOverlay
{
    background: url(img/videoOverlay.png) no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 7px;
    top: 0px;
}

#grain
{
    position: absolute;
    z-index:1000;
}

#mediaSources
{
    display: none;
}

@keyframes bubble {
    0% {
        transform: scale(0, 0);
    }

    12% {
        transform: scale(1.5, 1.5);
    }

    23% {
        transform: scale(0.5, 0.5);
    }

    34% {
        transform: scale(1.2, 1.2);
    }

    45% {
        transform: scale(1, 1);
    }

    85% {
        transform: scale(0, 0);
    }
}

@-webkit-keyframes bubble {
    0% {
        -webkit-transform: scale(0, 0);
    }

    12% {
        -webkit-transform: scale(1.5, 1.5);
    }

    23% {
        -webkit-transform: scale(0.5, 0.5);
    }

    34% {
        -webkit-transform: scale(1.2, 1.2);
    }

    45% {
        -webkit-transform: scale(1, 1);
    }

    85% {
        -webkit-transform: scale(0, 0);
    }
}
